main {
  padding: 8rem;
  height: 100%;

  &#mySkills {
    overflow: hidden;
    h1 {
      margin-top: 10vh;
    }
  }

  .skilldetail {
    visibility: hidden;
    height: 0px;
    ul > li {
      color: white;
    }
  }
  .show {
    visibility: visible;
    height: auto;
    transition: height 1.5s;
    overflow: hidden;
  }
}
